<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="user" value="admin" />
    <targets>
      <!--typeはConsoleでもOK!カラフルなのが好きな人はColoredConsole-->
      <target name ="hoge" xsi:type="ColoredConsole" layout="[${longdate} ${level}] ${message} user:${var:user} | runtime:${var:runtime}" />
    </targets>
    <rules>
      <!--writeTo:targeタグのnameを指定します。例：hoge-->
      <logger name="*" minlevel="Trace" writeTo="hoge" />
    </rules>
  </nlog>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>